.article {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    padding-bottom: 1rem;
    h5 {
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 0.75rem;
    }
}
.articleTitle {
    font-size: 18px;
    margin: 0;
}
