* {

    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: grid;
    width: 250px;
}
input:nth-child(n + 3) {
    margin-bottom: 0.3rem;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: rgb(74, 210, 103);
    color: white;
}
button:hover {
    background-color: rgb(78, 186, 102);
}
