/* html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding-top: 30px;
    /* width: 960px; */
    /* font-family: 'Roboto'; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse {
    align-items: center;
    flex-grow: 0;
}
